---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[name]=John%20Doe&address[company]=Company&address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[state]=NJ&address[zip]=08835&address[country]=US&address[phone]=555-555-0199
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 642579ac5ed41494ec4ae29f0000cf51
      Location:
      - "/api/v2/addresses/adr_36c0a00b27f346f0b92ad3d75aa42e95"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005310456-19e036fdb6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_36c0a00b27f346f0b92ad3d75aa42e95","object":"Address","created_at":"2020-05-31T20:33:24Z","updated_at":"2020-05-31T20:33:24Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Sun, 31 May 2020 20:33:25 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 642579a75ed41495ec4ae2a10000cf6f
      Location:
      - "/api/v2/parcels/prcl_f1a7b6200e2144a288825736605ad15f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005310456-19e036fdb6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_f1a7b6200e2144a288825736605ad15f","object":"Parcel","created_at":"2020-05-31T20:33:25Z","updated_at":"2020-05-31T20:33:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Sun, 31 May 2020 20:33:25 GMT
recorded_with: VCR 5.1.0
