---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=delivery
    body:
      encoding: UTF-8
      string: address[name]=&address[street1]=417%20Montgomery%20Street&address[city]=SF&address[state]=CA&address[zip]=94104&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 7501ef1b5ed41197ec4ae1bc0000340b
      Location:
      - "/api/v2/addresses/adr_97c510045afc41c1b19c225ddaa96f76"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005310456-19e036fdb6-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_97c510045afc41c1b19c225ddaa96f76","object":"Address","created_at":"2020-05-31T20:20:40Z","updated_at":"2020-05-31T20:20:40Z","name":null,"company":null,"street1":"417
        MONTGOMERY ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.MISSING","field":"street2","message":"Missing
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79298,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Sun, 31 May 2020 20:20:40 GMT
recorded_with: VCR 5.1.0
